@using Microsoft.AspNetCore.Identity
@model MovieAndCast
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Movie Details";
    ViewBag.MovieId = Model.Movie.MovieId;
    ViewBag.Controller = "Home";
    ViewBag.Action = "Details";
    ViewBag.Next = 2;
}

<div class="container mx-auto">
    <div class="p-2" style="background-color: #374151; border-radius: 8px;">

        <div class="shadow mx-auto py-3 text-center" style="background-color: #1f2937; border-radius: 8px; color: white;">
            @if(!string.IsNullOrEmpty(Model.Movie.Title))
            {
                <h4 class="m-0">@Model.Movie.Title</h4>
            }
            else
            {
                <h4 class="m-0">Title: Brak</h4>
            }
        </div>

        <div class="row w-100 mx-auto gap-3 py-3">

            <div class="d-flex flex-column gap-3 p-0 col-9">
                <div class="shadow mx-auto text-center p-3 w-100" style="background-color: #1f2937; border-radius: 8px; color: white;">
                    <p class="p-2" style="background-color: #374151; border-radius: 4px;">
                        Tagline: @if(!string.IsNullOrEmpty(Model.Movie.Tagline)) { <b>@Model.Movie.Tagline</b> } else { <b>Brak</b> }
                    </p>
                    <p class="p-2 w-100 m-0" style="background-color: #374151; border-radius: 4px;">
                        Overview: @if(!string.IsNullOrEmpty(Model.Movie.Overview)) { <b>@Model.Movie.Overview</b> } else { <b>Brak</b> }
                    </p>
                </div>
                <div style="background-color: #1f2937; border-radius: 8px; color: white;">


                    <div class="accordion" id="movie_cast_accordion">

                        <div class="accordion-item" style="background-color: #1f2937; border-radius: 8px;">
                            <h2 class="accordion-header">
                                <button class="accordion-button" style="background-color: #1f2937; color: #f9fafb;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_one" aria-expanded="true" aria-controls="collapse_one">
                                    Movie Cast
                                </button>
                            </h2>
                            <div id="collapse_one" class="accordion-collapse collapse @(Model.MovieCasts.Page > 1 ? "show" : "")" data-bs-parent="#movie_cast_accordion">
                                <div class="accordion-body px-3">
                                    <div class="row row-cols-3">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                        <div class="col p-2">
                                            <a asp-controller="Home" asp-action="AddPerson" asp-route-id="@Model.Movie.MovieId" class="p-2 w-100 h-100 btn btn-success m-0 d-flex align-items-center justify-content-center" style="border-radius: 4px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                                    fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 0q-.264 0-.523.017l.064.998a7 7 0 0 1 .918 0l.064-.998A8 8 0 0 0 8 0M6.44.152q-.52.104-1.012.27l.321.948q.43-.147.884-.237L6.44.153zm4.132.271a8 8 0 0 0-1.011-.27l-.194.98q.453.09.884.237zm1.873.925a8 8 0 0 0-.906-.524l-.443.896q.413.205.793.459zM4.46.824q-.471.233-.905.524l.556.83a7 7 0 0 1 .793-.458zM2.725 1.985q-.394.346-.74.74l.752.66q.303-.345.648-.648zm11.29.74a8 8 0 0 0-.74-.74l-.66.752q.346.303.648.648zm1.161 1.735a8 8 0 0 0-.524-.905l-.83.556q.254.38.458.793l.896-.443zM1.348 3.555q-.292.433-.524.906l.896.443q.205-.413.459-.793zM.423 5.428a8 8 0 0 0-.27 1.011l.98.194q.09-.453.237-.884zM15.848 6.44a8 8 0 0 0-.27-1.012l-.948.321q.147.43.237.884zM.017 7.477a8 8 0 0 0 0 1.046l.998-.064a7 7 0 0 1 0-.918zM16 8a8 8 0 0 0-.017-.523l-.998.064a7 7 0 0 1 0 .918l.998.064A8 8 0 0 0 16 8M.152 9.56q.104.52.27 1.012l.948-.321a7 7 0 0 1-.237-.884l-.98.194zm15.425 1.012q.168-.493.27-1.011l-.98-.194q-.09.453-.237.884zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a7 7 0 0 1-.458-.793zm13.828.905q.292-.434.524-.906l-.896-.443q-.205.413-.459.793zm-12.667.83q.346.394.74.74l.66-.752a7 7 0 0 1-.648-.648zm11.29.74q.394-.346.74-.74l-.752-.66q-.302.346-.648.648zm-1.735 1.161q.471-.233.905-.524l-.556-.83a7 7 0 0 1-.793.458zm-7.985-.524q.434.292.906.524l.443-.896a7 7 0 0 1-.793-.459zm1.873.925q.493.168 1.011.27l.194-.98a7 7 0 0 1-.884-.237zm4.132.271a8 8 0 0 0 1.012-.27l-.321-.948a7 7 0 0 1-.884.237l.194.98zm-2.083.135a8 8 0 0 0 1.046 0l-.064-.998a7 7 0 0 1-.918 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                                                </svg>
                                            </a>
                                        </div>
                                        }
                                        else
                                        {
                                            <div class="col p-2">
                                                <a style="color: #e2e8f0;" id="login" asp-area="Identity" asp-page="/Account/Login" class="p-2 w-100 h-100 btn btn-danger m-0 d-flex align-items-center justify-content-center" style="border-radius: 4px;">
                                                    Login to add new movie cast
                                                </a>
                                            </div>
                                        }

                                        @await foreach (var cast in Model.MovieCasts.Data)
                                        {
                                            <div class="col p-2">
                                                <p class="p-2 h-100 w-100 text-center m-0 d-flex flex-column align-items-center justify-content-center" style="background-color: #374151; border-radius: 4px;">
                                                    @if(!string.IsNullOrEmpty(cast.CharacterName)) { <b>@cast.CharacterName</b> } else { <b>Brak</b> }
                                                    @if(cast.Person != null && !string.IsNullOrEmpty(cast.Person.PersonName)) { @cast.Person.PersonName } else { <>Brak</> }
                                                </p>
                                            </div>
                                        }


                                    </div>
                                     @await Html.PartialAsync("_Pagination", Model.MovieCasts)
                                </div>
                            </div>
                        </div>

                    </div>

                    
 


                </div>
            </div>

            <div class="col d-flex flex-column gap-3 p-0 ">

                <div class="shadow w-100 mx-auto text-center col-1 p-4" style="background-color: #1f2937; border-radius: 8px; color: white;">
                    <p class="p-2 text-center" style="background-color: #374151; border-radius: 4px;">
                        Status: <b>@Model.Movie.MovieStatus</b>
                    </p>
                    <p class="p-2 text-center m-0" style="background-color: #374151; border-radius: 4px;">
                        Release Date: @if(Model.Movie.ReleaseDate == null) { <b>Brak</b> } else { <b>@Model.Movie.ReleaseDate</b> }
                    </p>

                </div>

                <div class="shadow w-100 mx-auto text-center col-1 p-4" style="background-color: #1f2937; border-radius: 8px; color: white;">
                    <p class="p-2 text-center" style="background-color: #374151; border-radius: 4px;">
                        Vote Average: <b>@Model.Movie.VoteAverage</b>
                    </p>
                    <p class="p-2 text-center m-0" style="background-color: #374151; border-radius: 4px;">
                        Vote Count: <b>@Model.Movie.VoteCount</b>
                    </p>
                </div>

                <div class="shadow w-100 mx-auto text-center col-1 p-4" style="background-color: #1f2937; border-radius: 8px; color: white;">
                    <p class="p-2 text-center" style="background-color: #374151; border-radius: 4px;">
                        Budget: @if(Model.Movie.Budget == 0) { <b>Brak</b> } else { <b>$@Model.Movie.Budget</b> }
                    </p>
                    <p class="p-2 text-center" style="background-color: #374151; border-radius: 4px;">
                        Revenue: <b>$@Model.Movie.Revenue</b>
                    </p>
                </div>

                <div class="shadow w-100 mx-auto text-center col-1 p-4" style="background-color: #1f2937; border-radius: 8px; color: white;">
                    <p class="p-2 text-center" style="background-color: #374151; border-radius: 4px;">
                        Runtime: <b>@Model.Movie.Runtime minutes</b>
                    </p>
                    <p class="p-2 text-center" style="background-color: #374151; border-radius: 4px;">
                        Popularity: <b>@Model.Movie.Popularity</b>
                    </p>
                    <p class="p-2 text-center m-0" style="background-color: #374151; border-radius: 4px;">
                        Homepage: @if(Model.Movie.Homepage == null) { <b>Brak</b> } else { <a href="@Model.Movie.Homepage" target="_blank" style="color: #f9fafb;">website</a> }
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>